body
{
    background-image: url("https://4kwallpapers.com/images/wallpapers/chainsaw-man-denji-amoled-3840x2160-8898.jpg");
    background-size: cover;
    background-position: center;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
}